PORT=3000
APP_TIMEZONE=America/Lima
SESSION_SECRET=change-this-secret
ADMIN_USERNAME=ADMIN01
ADMIN_PASSWORD=change-this-admin-password
ADMIN_NAME=Administrador Regional
# ADMIN_ACCOUNTS_JSON=[{"username":"ADMIN01","password":"secret","name":"Administrador Regional"}]

GOOGLE_SHEETS_SPREADSHEET_ID=your_spreadsheet_id
GOOGLE_SHEETS_CLIENT_EMAIL=service-account@project-id.iam.gserviceaccount.com
GOOGLE_SHEETS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEETS_STORES_RANGE=Stores!A:L
GOOGLE_SHEETS_LEVEL_TARGETS_RANGE=LevelTargets!A:I
GOOGLE_SHEETS_RESULTS_RANGE=DailyResults!A:G
GOOGLE_SHEETS_CACHE_TTL_MS=60000
